{% extends "base.html" %}
{% from "components/titles_table.html" import titles_table %}
{% from "components/table_filter.html" import table_filter %}

{% block title %}All Titles - Lens{% endblock %}

{% block content %}
<hgroup>
    <h1>Code of Federal Regulations</h1>
    <p>All 50 CFR Titles</p>
</hgroup>

<div class="filter-toolbar">
    {{ table_filter("titles-table", "0,1", "Filter by number or name...") }}
    {% include "components/year_selector.html" %}
</div>
{{ titles_table(titles, year, BASELINE_YEAR, table_id="titles-table") }}
{% endblock %}
